[submodule "lua-state-machine"]
	path = lua-state-machine
	url = git@github.com:neil-sgp/lua-state-machine.git
[submodule "moonsharp"]
	path = moonsharp
	url = https://github.com/nstoker/moonsharp.git
